*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
    font-family: 'Abel', sans-serif;
}

body{
    background-color: #222222;
}

img{
    max-height: 100%;
    max-width: 100%;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

button{
    border: none;
    text-decoration: none;
    background-color: #fff;
    cursor: pointer;
    background-color: Transparent;
    background-repeat:no-repeat;
}

input{
    background: transparent;
    border: none;
}

input:focus{
    outline: none;
}

.container{
    width: 90%;
    margin: auto;
}

/* ==========
API GOOGLE MAPS
========== */
#map{
    height: 500px;
    width: 100%;
}

/* ==========
NAVBAR
========== */
h1{
    margin: auto 0;
    font-size: 1.7rem;
    font-weight: 400;
    padding: 0 1em;
    color: #e60073;
}

nav{
    background-color: #1a1919;
}

.flex{
    display: flex;
    justify-content: space-between;
}

nav button{
    height: 100%;
    padding: 1.1em 2.2em;
    font-size: 1.2rem;
    color: #e60073;
    border-left: 1px solid rgba(255,255,255,0.1);
}

nav button:hover{
    background-color: #ff8a80;
    background-color: #e60073;
    color: #fff;
}

/* ==========
FORM LOGINS
========== */
.modal{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: rgba(255,255,255,0.4);
}

.modal_content{
    border: solid 1px black;
    width: 50%;
    z-index: 10;
    margin: 30px auto;
    background-color: #333333;
    min-width: 400px;
}

.login{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* title */
.login .login_title{
    font-size: 2rem;
    text-align: center;
    display: block;
    width: 100%;
    margin: .5em auto 1.2em;
}

/* input */
.login input{
    display: inline-block;
    width: 100%;
    background-color: #333333;
    font-size: 1.2rem;
    height: 3em;
    padding: 2.2em;
    border: 1px solid rgba(255,255,255,0.1);
}

.login input:focus{
    border: 1px solid rgba(255,255,255,0.3);
}

/* buttons */
.login button{
    font-size: 1rem;
    background-color: #333333;
    border: 2px solid #e60073;
    color: #e60073;
    padding: 1em 3.5em;
    border-radius: 50px;
    margin: 4em;
}

.login button:hover,
.login button:focus{
    background-color: #404040;
    opacity: .8;
}

.close{
    position: relative;
    left: 93%;
    top: 12px;
    font-size: 35px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus{
    color: #e60073;
}

/* ==========
LAYOUT
========== */
article{
    margin: 5em 0;
}

/* ==========
FOOTER
========== */
footer{
    background-color: #1a1919;
    margin-top: 5em;
}

footer .flex{
    justify-content: flex-end;
}

.datos{
    margin: 0 4em;
}

.person{
    padding: 3em 0;
    margin: 2em;
}

.current_page{
    color: #fff;
}











/* =========
ADMIN
========= */
/* nav */
.admin button{
    padding: 1.1em 1.5em;
}

/* tabs */
.tabcontent{
    display: none;
}

.tabcontent h2{
    font-size: 2rem;
    margin: 2em 0;
}

/* form */
.tabcontent .modal_content{
    width: 95%;
    margin: 5em auto;
}

.tabcontent .login_title{
    padding: 0;
    margin: 1.5em;
}





/* ==========
USERS
========== */
/* layout */
.user_page .tabcontent{
    margin: 3em 0;
}

/* btns */
.user button{
    padding: 1.1em 2em;
}

.btn{
    font-size: 1rem;
    background-color: #333333;
    border: 2px solid #e60073;
    color: #e60073;
    color: #fff;
    padding: 1em 3.5em;
    border-radius: 50px;
}

.btn:hover,
.btn:focus{
    background-color: #404040;
    opacity: .8;
}

/* inputs map */
.hide{
    display: none;
}










@media (max-width: 900px) {
    /* NAVBAR */
    .flex{
        flex-direction: column;
    }

    h1{
        text-align: center;
        padding: 1em 0;
        border-bottom: 1px solid rgba(255,255,255,0.1);
    }

    nav button{
        width: 100%;
        padding: 1em;
        border: none;
    }

    /* FORMS LOGINS */
    .modal_content{
        width: 100px;
    }

    /* FOOTER */
    footer .flex{
        align-items: center;
    }

    .datos{
        padding: 3em 0;
    }

    .person{
        padding: 0;
        margin: 1em;
    }
}

/* admin */
@media (max-width: 1260px) {
    .admin,
    .admin .flex{
        flex-direction: column;
    }

    .admin button{
        width: 100%;
        padding: 1em;
        border: none;
    }

    .admin h1{
        text-align: center;
        padding: 1em 0;
        border-bottom: 1px solid rgba(255,255,255,0.1);
    }
}